@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Shadows+Into+Light&display=swap');
body{
   
    font-family:Georgia, 'Times New Roman', Times, serif;
    background-color: ivory;
}
header{
   
   
}
.home-img{
    background-image:url("../img/home.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
   opacity: 0.3;


}
#result-btn{
    visibility: hidden;
}
#logo{
    position: fixed;
    top: 0%;
    background-color: rgb(129, 10, 10);
    width:-webkit-fill-available;
    color: cornsilk;
    text-shadow:3px 3px rgb(95, 86, 86);
    font-family: 'Potta One', cursive;
    font-size:40px;
    font-weight: 900;
    margin-bottom:30px;
    text-align: center;
    padding: 20px;
    z-index: 1;
    
}
.home-par{
    color: darkred;
    width: -webkit-fill-available;
    position: absolute;
    top: 420px;
    text-align: center;
   font-weight: 700;
    font-family: 'Lobster', cursive;
    font-family: 'Shadows Into Light', cursive;
}
.social{
    float: right;
    font-size: 30px;
}
I:hover{
    color:darkgray;    
}

main{ width: 960px;
    margin: auto;
    font-family: 'Potta One', cursive;
    font-family: 'Teko', sans-serif;
    text-align: center;
    font-weight: 700;
}
h1{
    padding: 10px;
    font-size:45px;

}
h4{
    padding: 10px;
    font-size: 35px;
  
}
#form{
    margin:  100px auto;
    width: 400px;
    height:200px;
    background-color: rgba(169, 169, 169, 0.589);    
    padding:30px 10px;
    font-size: xx-large;
    border: 3px double rgb(59, 58, 58);
    border-radius: 10px;
    box-shadow: 3px 3px rgb(177, 151, 151);
    display: inline-block;
    width:400px;
  
}

button{
    margin-top: 10px;
    width: 25%;
    height: 25%;
    border: 2px inset gray;
    font-size: x-large;
    font-weight: 700;
    border-radius: 5px;
}
button:hover{
    border: 2px outset rgb(73, 72, 72);
    background-color: black;
    color: brown;
}
#images-div div{

    background-image: url("../img/img-view.png");
    background-repeat: no-repeat;
    background-size:initial;
    display: inline-block;
    width: 300px;
    height: 300px;
    z-index: 1;
    margin: 5px;
}

#images-div img{
   margin-top: 20px;
   margin-right: 20px;
   border-radius: 5px;


}
input{
    width: 50%;
    padding: 10px;
    margin: 30px;
}
footer{
    background-color:  rgb(3, 3, 3);
    height: 30px;
    color: mistyrose;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    padding: 10px;
    margin-top: 50px;
    
}
#images-div{
    margin: 55px 0px;
}
ul {
    margin-top: 20px;
    width:70%;
    list-style-type: square;
    font-family: cursive;
    font-size: large;
    text-align: left;
    font-weight: lighter;
}